core
a.out
*.o
*.mod
*.a
*.lst
*.ptx
*.cubin
*.s
.*.sw*
laplace2d
laplace2d.solution
*.x
*.png
*.pgm
# Ignores from home directory of lab instance
.ICEauthority
.Xauthority
.bash_logout
.bashrc
.bashrc-anaconda.bak
.cache/
.cloud-locale-test.skip
.compiz/
.config/
.dbus/
.eclipse/
.fontconfig/
.gconf/
.ipython/
.jupyter/
.lesshst
.local/
.mozilla/
.npm/
.nv/
.nx/
.profile
.qt/
.ssh/
.viminfo
.x11vnc/
.x2go/
.xsession-errors
.xsession-errors.old
.xsession-x2go-errors
NVIDIA_CUDA-7.5_Samples/
timer.html
